body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(255,255,255,0.4) 1px, transparent 1.5px);
    background-size: 30px 30px;
    animation: twinkle 10s infinite linear;
}

@keyframes twinkle {
    from { background-position: 0 0; }
    to { background-position: -100px 50px; }
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

ul {
    margin: 0;
    padding: 0;
    position: relative;
    width: 400px;
    height: 240px;
    overflow: hidden;
    animation: draw-rainbow 3s 0.5s ease-out forwards;
}

@keyframes draw-rainbow {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

ul li {
    list-style: none;
    border-radius: 50%;
    border: 15px solid #000;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    filter: drop-shadow(0 0 10px currentColor);
}

.one {
    width: 60px;
    height: 60px;
    border-color:#FF0000;
    color: #FF0000;
}

.two {
    width: 90px;
    height: 90px;
    border-color:#FF7F00;
    color: #FF7F00;
}

.three {
    width: 120px;
    height: 120px;
    border-color:#FFFF00;
    color: #FFFF00;
}

.four {
    width: 150px;
    height: 150px;
    border-color:#00FF00;
    color: #00FF00;
}

.five {
    width: 180px;
    height: 180px;
    border-color:#0000FF;
    color: #0000FF;
}

.six {
    width: 210px;
    height: 210px;
    border-color:#4B0082;
    color: #4B0082;
}

.seven {
    width: 240px;
    height: 240px;
    border-color:#9400D3;
    color: #9400D3;
}

.cloud {
    position: absolute;
    bottom: -20px;
    width: 150px;
    height: 50px;
    background: #f2f9fe;
    border-radius: 50px;
    opacity: 0.8;
    animation: drift 25s infinite linear alternate;
}

.cloud::before, .cloud::after {
    content: '';
    position: absolute;
    background: #f2f9fe;
    border-radius: 50%;
}

.cloud::before {
    width: 80px;
    height: 80px;
    top: -40px;
    left: 20px;
}

.cloud::after {
    width: 100px;
    height: 100px;
    top: -50px;
    right: 10px;
}

.cloud-1 {
    left: 15%;
    transform: scale(0.8);
    animation-duration: 25s;
}

.cloud-2 {
    left: 65%;
    transform: scale(1.1);
    animation-duration: 35s;
    animation-delay: -5s;
}

@keyframes drift {
    from { transform: translateX(-50px) scale(var(--scale, 1)); }
    to { transform: translateX(50px) scale(var(--scale, 1)); }
}