body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #01030f, #182233);
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, rgba(24,34,51,1) 0%, rgba(24,34,51,0) 100%);
    z-index: 10;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

ul {
    margin: 0;
    padding: 0;
    position: relative;
    width: 400px;
    height: 240px;
    overflow: hidden;
}

ul li {
    list-style: none;
    border-radius: 50%;
    border: 15px solid #000;
    position: absolute;
    top: 100%;
    left: 50%;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    animation: animate 5s ease-in-out infinite alternate;
    transform: translate(-50%,-50%);
    filter: drop-shadow(0 0 15px currentColor) drop-shadow(0 0 5px currentColor);
}

.caption {
    position: absolute;
    top: 245px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    z-index: 20;
}

.one {
    width: 60px;
    height: 60px;
    border-color:#FF0000;
    color: #FF0000;
    animation-delay: .2s;
}

.two {
    width: 90px;
    height: 90px;
    border-color:#FF7F00;
    color: #FF7F00;
    animation-delay: .4s;
}

.three {
    width: 120px;
    height: 120px;
    border-color:#FFFF00;
    color: #FFFF00;
    animation-delay: .6s;
}

.four {
    width: 150px;
    height: 150px;
    border-color:#00FF00;
    color: #00FF00;
    animation-delay: .8s;
}

.five {
    width: 180px;
    height: 180px;
    border-color:#0000FF;
    color: #0000FF;
    animation-delay: 1s;
}

.six {
    width: 210px;
    height: 210px;
    border-color:#4B0082;
    color: #4B0082;
    animation-delay: 1.2s;
}

.seven {
    width: 240px;
    height: 240px;
    border-color:#9400D3;
    color: #9400D3;
    animation-delay: 1.4s;
}

@keyframes animate {
    0% {
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(315deg);
    }
}